<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="date">
    <form action="./"  method="get">
        <input type="date" name = start th:value="*{start}">~<input type="date" name = end th:value="*{end}">
        <input type="submit" value="絞込">
    </form>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <div class="comment-button">
            <form th:action="@{/comment/add/{id}(id=${content.id})}" th:object="${formModel}" th:method="post">
                <label>コメント内容</label>
                <textarea class="tweet-box" name="content" th:field="*{content}" size="20" maxlength="200"/></textarea><br/>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color: red"></p>
                <input type="submit" value="コメント"/>
            </form>
        </div>
        <div class="comment-icon" th:each="comment : ${comments}" th:if="${content.id} eq ${comment.reportId}">
            <div>
                コメントID : <span th:text="${comment.id}"/>
            </div>
            <div class="text">
                コメント : <span th:text="${comment.content}"/>
            </div>
            <div class="delete-button">
                <form th:action="@{/delete/comment/{id}(id=${comment.id})}" th:method="delete">
                    <input type="submit" value="削除">
                </form>
            </div>
            <div class="edit-button">
                <a th:href="@{/edit/comment/{id}(id=${comment.id})}">
                    <input type="button" value="編集">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
